@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color-hue: 252;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, 100%);
  --color-light: hsl(252, 30%, 95%);
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(252, 75%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(252, 30%, 17%);
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}

.dark-theme-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: #181a1e;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "poppins", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  touch-action: manipulation;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius);
}

/* GENERAL STYLES */
.container {
  width: 80%;
  margin: 0 auto;
}

.profile-photo {
  width: 2.7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

video {
  display: block;
  width: 100%;
  max-height: 40rem;
}

i {
  cursor: pointer;
}

.icon-heart {
  color: #ed4956;
}

.btn {
  display: inline-block;
  padding: var(--btn-padding);
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 300ms ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.text-bold {
  font-weight: 500;
}

.text-muted {
  color: var(--color-gray);
}

/************************** NAVBAR **************************/

nav {
  width: 100%;
  background-color: var(--color-white);
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: var(--search-padding);
}

.search-bar input[type="search"] {
  background-color: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: var(--color-dark);
}

nav .search-bar input[type="search"]::-webkit-input-placeholder {
  color: var(--color-gray);
}

nav .search-bar input[type="search"]::-moz-placeholder {
  color: var(--color-gray);
}

nav .search-bar input[type="search"]::-ms-input-placeholder {
  color: var(--color-gray);
}

nav .search-bar input[type="search"]:-ms-input-placeholder {
  color: var(--color-gray);
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-gray);
}

nav .create {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/************************** MAIN **************************/
main {
  position: relative;
  top: 5.4rem;
}

main .container {
  display: grid;
  grid-template-columns: 18vw 38vw 20vw;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  position: relative;
}

/************************** LEFT **************************/
main .container .left {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: var(--sticky-top-left);
  z-index: 11;
}

main .container .left .profile {
  padding: var(--card-padding);
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
}

/************************** SIDEBAR **************************/
.left .sidebar {
  margin-top: 1rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
  display: flex;
  align-items: center;
  height: 4rem;
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
}

.left .sidebar .menu-item:hover {
  background-color: var(--color-light);
}

.left .sidebar .menu-item i {
  font-size: 1.4rem;
  color: var(--color-gray);
  margin-left: 2rem;
  position: relative;
}

.left .sidebar i .notifications-count {
  background-color: var(--color-danger);
  color: white;
  font-size: 0.7rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.8rem;
  padding: 0.1rem 0.4rem;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}

.left .sidebar h3 {
  margin-left: 1.5rem;
  font-size: 1rem;
}

.left .sidebar .active {
  background-color: var(--color-light);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
  color: var(--color-primary);
}

.left .sidebar .active::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
}

.left .sidebar .menu-item:first-child {
  border-top-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .sidebar .menu-item:last-child {
  border-bottom-left-radius: var(--card-border-radius);
  overflow: hidden;
}

.left .btn {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

/************************** SIDEBAR **************************/
.left .notifications-popup {
  position: absolute;
  top: 0;
  left: 110%;
  width: 30rem;
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60%, 25%);
  z-index: 8;
  display: none;
}

.left .notifications-popup::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background-color: var(--color-white);
  position: absolute;
  left: -0.6rem;
  transform: rotate(45deg);
}

.left .notifications-popup > div {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.left .notifications-popup > div .notification-body small {
  text-transform: uppercase;
  display: block;
}

.left > P {
  margin-top: 1rem;
}
/************************** MIDDLE **************************/
.middle .slider {
  position: relative;
}

.middle .slider .before,
.middle .slider .after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-white);
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  transition: all 300ms ease;
}

.middle .slider .before {
  content: "\e849";
  left: -1.5rem;
}

.middle .slider .after {
  content: "\e84c";
  right: -1.5rem;
}

.middle .slider:hover .before,
.middle .slider:hover .after {
  opacity: 1;
}

.middle .stories::-webkit-scrollbar {
  display: none;
}

.middle .stories {
  height: 12rem;
  position: relative;
  overflow-x: scroll;
}

.middle .stories > div {
  display: flex;
  gap: 0.3rem;
  width: 100rem;
  height: 100%;
}

.middle .stories .story {
  padding: var(--card-padding);
  background: no-repeat center center/cover;
  border-radius: var(--card-border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 0.75rem;
  width: 7rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.middle .stories .story.add-story::before {
  background-color: var(--color-white);
}

.middle .stories .story.add-story .profile-photo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border: 3px solid var(--color-white);
}

.middle .stories .story.add-story .profile-photo i {
  font-size: 1.1rem;
}

.middle .stories .story.add-story .name {
  position: absolute;
  bottom: 1rem;
}

.middle .stories .story::before {
  content: "";
  display: block;
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  position: absolute;
  bottom: 0;
}

.middle .stories .story .name {
  z-index: 2;
}

.middle .story .profile-photo {
  width: 2rem;
  height: 2rem;
  align-self: start;
  border: 3px solid var(--color-primary);
}

/************************** CREATE POST **************************/
.middle .create-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
  justify-self: flex-start;
  width: 100%;
  padding-left: 1rem;
  background-color: transparent;
  color: var(--color-dark);
  margin-right: 1rem;
}

/************************** FEEDS **************************/
.middle .feeds .feed {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin: 1rem 0;
  font-size: 0.85rem;
  line-height: 1.5;
  position: relative;
}

.middle .feeds .feed .head {
  display: flex;
  justify-content: space-between;
}

.middle .feed .user {
  display: flex;
  gap: 1rem;
}

.middle .feed .edit {
  font-size: 1.5rem;
}

.middle .feed .list-edit {
  position: absolute;
  top: 4rem;
  right: 2.5rem;
  width: 20rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius);
  box-shadow: 0 0 1rem var(--color-primary);
  z-index: 1;
  overflow: hidden;
  display: none;
}

.middle .feed .list-edit .item {
  padding: 0.8rem;
  border: 1px solid var(--color-light);
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.middle .feed .list-edit .item.warning {
  color: red;
}

.middle .feed .list-edit .item:hover {
  background-color: var(--color-light);
}

.middle .feed .photo {
  margin: 0.7rem 0;
  border-radius: var(--card-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 40rem;
  overflow: hidden;
}

.middle .feed .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle .feed .overlay i {
  color: white;
  font-size: 4rem;
  opacity: 0.8;
  display: none;
}

.middle .feed .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0.6rem;
}

@-webkit-keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}

.animate__heartBeat {
  -webkit-animation-name: heartBeat;
  animation-name: heartBeat;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.middle .liked-by {
  display: flex;
}

.middle .liked-by span {
  width: 1.4rem;
  height: 1.4rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--color-white);
  margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
  margin: 0;
}

.middle .liked-by p {
  margin-left: 0.5rem;
}

.middle .add-comment {
  border-top: 1px solid var(--color-light);
  margin-top: 1rem;
  padding-top: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.emojionearea,
.emojionearea.focused {
  border: none;
  box-shadow: none;
  padding-left: 2rem;
  background-color: var(--color-white);
}

.emojionearea-editor {
  padding-left: 1rem !important;
}

.emojionearea .emojionearea-button {
  left: 0;
  background: white;
  border-radius: 50%;
}

.emojionearea .emojionearea-picker {
  background: var(--color-white);
}

.emojionearea
  .emojionearea-picker
  .emojionearea-scroll-area
  .emojionearea-category-title,
.emojionearea .emojionearea-picker .emojionearea-filters {
  background-color: var(--color-white);
}

.emojionearea
  .emojionearea-picker
  .emojionearea-filters
  .emojionearea-filter.active {
  background-color: var(--color-light);
}

.emojionearea-picker-position-left-top {
  margin-top: -15rem;
  left: 2rem;
}

.middle .add-comment .uil-message {
  font-size: 1.5rem;
  color: var(--color-primary);
}

/************************** RIGHT **************************/
main .container .right {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: -webkit-sticky;
  position: sticky;
  top: var(--sticky-top-right);
  bottom: 0;
}

.right .messages {
  background-color: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  transition: all 500ms ease;
}

.right .messages .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.right .messages i {
  font-size: 1.4rem;
}

.right .messages .search-bar {
  display: flex;
  margin-bottom: 1rem;
}

.right .messages .category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.right .messages .category h6 {
  width: 100%;
  text-align: center;
  border-bottom: 4px solid var(--color-light);
  padding-bottom: 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.right .messages .category .active {
  border-color: var(--color-dark);
}

.right .messages .message-requests {
  color: var(--color-primary);
}

.right .messages .category + div {
  height: 410px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.right .messages .category + div::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-light);
  display: none;
}

.right .messages .category + div:hover::-webkit-scrollbar {
  display: block;
}

.right .messages .category + div::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius);
}

.right .messages .message {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.right .message .profile-photo {
  position: relative;
  overflow: visible;
}

.right .profile-photo img {
  border-radius: 50%;
}

.right .messages .message:last-child {
  margin: 0;
}

.right .messages .message p {
  font-size: 0.8rem;
}

.right .messages .message .profile-photo .active {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 3px solid var(--color-white);
  background-color: var(--color-success);
  position: absolute;
  bottom: 0;
  right: 0;
}

/************************** FRIEND REQUESTS **************************/
.right .friend-requests > div {
  max-height: 415px;
  border-radius: var(--card-border-radius);
  overflow-y: scroll;
}

.right .friend-requests > div::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-light);
  display: none;
}

.right .friend-requests > div:hover::-webkit-scrollbar {
  display: block;
}

.right .friend-requests > div::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius);
}

.right .friend-requests h4 {
  color: var(--color-gray);
  margin: 1rem 0;
}

.right .request {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-bottom: 0.7rem;
}

.right .request .info {
  display: flex;
  gap: 1rem;
}

.right .request .action {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.right .request.accept .text-muted {
  color: var(--color-primary);
}

/************************** THEME CUSTOMIZATION **************************/
.customize-theme {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  place-items: center;
  font-size: 0.9rem;
  display: none;
}

.customize-theme .card {
  background-color: var(--color-white);
  padding: 3rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 1rem var(--color-primary);
}

/************************** FONT SIZE **************************/
.customize-theme .font-size {
  margin-top: 5rem;
}

.customize-theme .font-size > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
}

.customize-theme .choose-size {
  background-color: var(--color-secondary);
  height: 0.3rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-size span {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.customize-theme .choose-size span.active {
  background-color: var(--color-primary);
}

/************************** COLORS **************************/
.customize-theme .color {
  margin-top: 2rem;
}

.customize-theme .choose-color {
  background-color: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customize-theme .choose-color span {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
}

.customize-theme .choose-color span:first-child {
  background-color: hsl(252, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(2) {
  background-color: hsl(52, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(3) {
  background-color: hsl(352, 75%, 60%);
}

.customize-theme .choose-color span:nth-child(4) {
  background-color: hsl(152, 75%, 60%);
}

.customize-theme .choose-color span:last-child {
  background-color: hsl(202, 75%, 60%);
}

.customize-theme .choose-color span.active {
  border: 5px solid white;
}

/************************** BACKGROUND **************************/
.customize-theme .background {
  margin-top: 2rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
}

.customize-theme .choose-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.customize-theme .choose-bg > div {
  padding: calc(var(--card-padding) - 6px);
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.4rem;
  cursor: pointer;
}

.customize-theme .choose-bg > div.active {
  border: 2px solid var(--color-primary);
}

.customize-theme .choose-bg .bg-1 {
  background-color: white;
  color: black;
}

.customize-theme .choose-bg .bg-2 {
  background-color: #202528;
  color: white;
}

.customize-theme .choose-bg > div span {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-gray);
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customize-theme .choose-bg > div span i {
  font-size: 30px;
  display: none;
}

.customize-theme .choose-bg > div.active span i {
  display: block;
}

/************************* CREATE POSTS *************************/
.create-posts,
.create-stories {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  place-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: none;
}

.create-posts .card,
.create-stories .card {
  width: 30vw;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: 0 0 1rem var(--color-primary);
}

.create-posts .card .head,
.create-stories .card .head {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-light);
}

.create-posts .card .head h2,
.create-stories .card .head h2 {
  width: 100%;
  text-align: center;
}

.create-posts .card .head i,
.create-stories .card .head i {
  font-size: 1.7rem;
  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
}

.create-posts .card .profile,
.create-stories .card .profile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.create-posts .card .profile .handle select {
  background-color: var(--color-light);
  color: var(--color-gray);
  padding: 0.4rem;
  border-radius: var(--card-border-radius);
}

.create-posts .card .profile .handle select option {
  border-radius: var(--card-border-radius);
}

.create-posts .card textarea {
  width: 100%;
  max-height: 160px;
  background-color: var(--color-white);
  color: var(--color-gray);
  font-size: 1rem;
  padding: var(--card-padding);
  resize: none;
}

.create-posts .card .file-test {
  position: relative;
  border-radius: var(--card-border-radius);
  max-height: 50vh;
  overflow-y: scroll;
}

.create-posts .card .file-test::-webkit-scrollbar {
  width: 5px;
  background-color: var(--color-light);
}

.create-posts .card .file-test::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--card-border-radius);
}

.create-posts .card .file-test::before,
.create-stories .card .file-test::before {
  content: "\ec12";
  font-family: "unicons";
  font-size: 1.2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-light);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.create-posts .card .file-test.active::before,
.create-stories .card .file-test.active::before {
  display: block;
}

.create-posts .card .file-test img {
  width: 100%;
  max-height: 100%;
}

.create-posts .card input[type="file"],
.create-stories .card input[type="file"] {
  display: none;
}

.create-posts .card .add-files {
  border: 3px solid var(--color-light);
  padding: calc(var(--card-padding) - 0.8rem);
  margin-top: 1rem;
  border-radius: var(--card-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create-posts .card .add-files i {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.create-posts .card input,
.create-stories .card input {
  width: 100%;
  font-size: 1rem;
  margin-top: 1rem;
}

.create-posts .card textarea::-webkit-scrollbar {
  display: none;
}

/************************* CREATE STORIES *************************/
.create-stories .card form {
  position: relative;
}

.create-stories .card .file-test {
  width: 100%;
  min-height: 15rem;
  max-height: 20rem;
  border-radius: var(--card-border-radius);
  background-image: url(../images/YH2hhKBxjWN.png);
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  overflow: auto;
}

.create-stories .card .file-test::-webkit-scrollbar {
  width: 3px;
  background-color: var(--color-light);
}

.create-stories .card .file-test::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

.create-stories .card .add-files {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-stories .card .add-files i {
  font-size: 2rem;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 1rem;
}

/************************* SHOW STORIES *************************/
.show-stories {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  z-index: 3000;
  overflow: hidden;
  display: none;
}

.show-stories .logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
}

.show-stories .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  z-index: 400000;
}

.show-stories .prev,
.show-stories .next {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30rem;
  height: 50%;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30000;
  opacity: 0;
}

.show-stories .prev {
  top: 0;
}

.show-stories .next {
  bottom: 0;
}

.show-stories i {
  font-size: 2rem;
}

.show-stories .slider {
  width: 30rem;
  transition: all 0.3s linear;
}

.show-stories .story {
  width: 30rem;
  height: 100%;
  border: 1px solid var(--color-light);
  border-radius: var(--card-border-radius);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 1;
  transform: scale(0.4);
  transition: 0.5s;
  position: relative;
}

.show-stories .story.active {
  box-shadow: 0 0 1rem var(--color-primary);
  transform: scale(1);
}

.show-stories .story .head {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  height: 3px;
  background-color: #707070;
}

.show-stories .story .head .time-story {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.show-stories .story .info {
  position: absolute;
  top: 4%;
  left: 2%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.show-stories .story .info .img {
  width: 2rem;
  height: 2rem;
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  overflow: hidden;
}

.show-stories .story .info .name {
  color: white;
  font-size: 0.8rem;
}

/************************* LOADING *************************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50000000;
}

.loading .title {
  font-size: 2rem;
  font-weight: bold;
}

svg path,
svg rect {
  fill: var(--color-primary);
}

/************************* MEDIA QUERIES FOR SMALL LAPTOPS AND BIG TABLETS *************************/
@media (max-width: 1199px) {
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem 55vw 30vw;
    gap: 1rem;
  }

  .left {
    width: 5rem;
    z-index: 5;
  }

  main .container .left .profile {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }

  .left > p {
    display: none;
  }

  .customize-theme .card {
    width: 80vw;
  }

  .create-posts .card,
  .create-stories .card {
    width: 40vw;
  }
}

/************************* MEDIA QUERIES FOR SMALL TABLETS AND MOBILE PHONES *************************/
@media (max-width: 991px) {
  nav .search-bar {
    display: none;
  }

  main .container {
    grid-template-columns: 0 1fr 0;
    gap: 0;
  }

  main .container .left {
    grid-column: 3/4;
    position: fixed;
    top: 30%;
    right: 0;
  }

  /*********** NOTIFICATION POPUP **********/
  .left .notifications-popup {
    position: absolute;
    left: -21rem;
    width: 20rem;
  }

  .left .notifications-popup::before {
    position: absolute;
    top: 1.3rem;
    left: calc(20rem - 0.6rem);
    display: block;
  }

  main .container .middle {
    grid-column: 1/3;
  }

  .middle .slider .before,
  .middle .slider .after {
    display: none;
  }

  main .container .right {
    display: none;
  }

  main .container .right.active {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 6rem;
    z-index: 111;
  }

  main .container .right .friend-requests {
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: var(--color-white);
    width: 100%;
    height: 70%;
    transform: translateX(-50%);
    display: none;
  }

  main .container .right .friend-requests.active {
    display: block;
  }

  main .container .right .friend-requests > h4 {
    display: none;
  }

  .customize-theme .card {
    width: 92vw;
  }

  .create-posts .card,
  .create-stories .card {
    width: 60vw;
  }
}

/************************* MEDIA QUERIES FOR SMALL PHONES *************************/
@media (max-width: 575px) {
  main .container .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0;
  }

  main .container .sidebar .menu-item {
    padding: 10px;
    border-radius: 0;
  }

  main .container .sidebar .menu-item.active {
    border-radius: 0;
  }

  main .container .sidebar .menu-item::before {
    display: none;
  }

  main .container .sidebar .menu-item span i {
    margin-left: 0;
  }

  /*********** NOTIFICATION POPUP **********/
  .left .notifications-popup {
    position: absolute;
    top: initial;
    bottom: 4.5rem;
    left: -100%;
  }

  .left .notifications-popup::before {
    display: none;
  }

  /*********** MIDDLE **********/
  .middle .feed:last-child {
    margin-bottom: 4.5rem;
  }

  /*********** MESSAGE POPUP **********/
  main .container .right.active {
    width: 80%;
    display: block;
    position: fixed;
    top: initial;
    bottom: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 111;
  }

  .search-bar input[type="search"] {
    width: 50vw;
  }

  .right .friend-requests > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
  }

  .create-posts .card,
  .create-stories .card {
    width: 80vw;
  }

  .show-stories .slider {
    width: 100%;
  }

  .show-stories .story {
    width: 100%;
  }
}
